:root {
  --color-main: rgba(0, 0, 0, .9);
  --color-dark: #333333;
  --color-light: #f4f4f4;
  --color-second: #0b9d84;
}

body {
  background: var(--color-main);
  margin: 0;
  color: var(--color-light);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  padding: 1em;
}

button {
  border: 2px solid var(--color-second);
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(20px);
  color: var(--color-second);
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

button:hover {
  border-color: var(--color-second);
  background: var(--color-second);
  color: var(--color-light);
}

button:hover a {
  color: var(--color-light);
}

h3 {
  color: var(--color-second);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-second);
}

.showcase {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  opacity: 0;
  transition: 0.4s;
}

.slide:nth-child(1) {
  background: url("./img/sf.jpg") no-repeat center top/cover;
}

.slide:nth-child(2) {
  background: url("./img/park.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url("./img/toll.jpg") no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url("./img/ls.jpg") no-repeat center top/cover;
}

.slide:nth-child(5) {
  background: url("./img/dealer.jpg") no-repeat center top/cover;
}

.current {
  opacity: 1;
}

.content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  margin-top: -75px;
  text-align: center;
}

.logo {
  width: 100%;
}

.main-buttons {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -120px;
}

.main-buttons button {
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  font-size: medium;
}

.slide-buttons button {
  position: absolute;
  bottom: 5%;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.slide-circles {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.circle {
  width: 10px;
  height: 10px;
  background: var(--color-light);
  border-radius: 50%;
  transition: 0.4s;
  cursor: pointer;
}

.current-circle {
  background: var(--color-second);
}

#prev {
  left: 25px;
}

#next {
  right: 25px;
}

.container {
  width: 75%;
  margin: auto;
  padding: 4rem 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  margin: 20px;
}

.bg-light {
  background: var(--color-light);
  color: var(--color-dark);
}

.bg-dark {
  background: var(--color-dark);
  color: var(--color-light);
}

.center {
  text-align: center;
  margin: auto;
}

@media(max-width: 600px) {
  .showcase {
    height: 50vh;
  }
  .grid-3,
  .grid-2 {
    display: block;
  }
}

@media(max-width: 900px) {

  .content {
    top: 0;
    width: 300px;
    margin-left: -150px;
    margin-top: -30px;
  }

  .main-buttons {
    margin-top: -40px;
  }

  .feature {
    margin: 40px 0;
  }
}