:root {
  --bg-color-main: rgba(0, 0, 0, .9);
  --bg-color-dark: #333333;
  --bg-color-light: #f4f4f4;
  --font-color-dark: #333333;
  --font-color-light: #ffffff;
  --font-color-second: #0b9d84;
}

body {
  background: var(--bg-color-main);
  margin: 0;
  color: var(--font-color-light);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  padding: 1em;
}

button {
  border: 2px solid var(--font-color-second);
  border-radius: 10px;
  background: transparent;
  color: var(--font-color-second);
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

button:hover {
  background: var(--font-color-second);
  color: var(--font-color-light);
}

button:hover a {
  color: var(--font-color-light);
}

h3 {
  color: var(--font-color-second);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-color-second);
}

.showcase {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  opacity: 0;
  transition: 0.4s;
}

.slide:nth-child(1) {
  background: url("./img/sf.jpg") no-repeat center top/cover;
}

.slide:nth-child(2) {
  background: url("./img/park.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url("./img/toll.jpg") no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url("./img/ls.jpg") no-repeat center top/cover;
}

.slide:nth-child(5) {
  background: url("./img/dealer.jpg") no-repeat center top/cover;
}

.current {
  opacity: 1;
}

.logo-buttons {
  position: absolute;
  left: 8%;
}

.main-buttons {
  position: relative;
  bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-buttons button {
  width: 100px;
  padding: 10px;
  margin: 10px;
}

.slide-buttons button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}

#prev {
  left: 25px;
}

#next {
  right: 25px;
}

.container {
  width: 75%;
  margin: auto;
  padding: 4rem 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  margin: 20px;
}

.bg-light {
  background: var(--bg-color-light);
  color: var(--font-color-dark);
}

.bg-dark {
  background: var(--bg-color-dark);
  color: var(--font-color-light);
}

.center {
  text-align: center;
  margin: auto;
}

@media(max-width: 600px) {
  .grid-3,
  .grid-2 {
    display: block;
  }
}

@media(max-width: 900px) {
  .showcase {
    height: 50vh;
  }

  .logo {
    top: 0;
    width: 300px;
  }

  .feature {
    margin: 40px 0;
  }
}